/* .container {
  width: 100%;
  height: 20px;
} */
@font-face {
  font-family: "Raleway Medium Italic";
  src: url("../fonts/Raleway-MediumItalic.woff2") format("woff2"),
    url("../fonts/Raleway-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Raleway Light";
  src: url("../fonts/Raleway-Light.woff2") format("woff2"),
    url("../fonts/Raleway-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Raleway Medium";
  src: url("../fonts/Raleway-Medium.woff2") format("woff2"),
    url("../fonts/Raleway-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-LightItalic.woff2") format("woff2"),
    url("../fonts/Raleway-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/PlayfairDisplay-Bold.woff2") format("woff2"),
    url("../fonts/PlayfairDisplay-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Playfair Display Italic";
  src: url("../fonts/PlayfairDisplay-Italic.woff2") format("woff2"),
    url("../fonts/PlayfairDisplay-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/PlayfairDisplay-Regular.woff2") format("woff2"),
    url("../fonts/PlayfairDisplay-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/PlayfairDisplay-BoldItalic.woff2") format("woff2"),
    url("../fonts/PlayfairDisplay-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  padding: 10px;
  font-family: "Raleway Light";
}

h1,
h2,
h3 {
  font-family: "Playfair Display";
}

.menu-all {
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: row-reverse; */
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
  box-sizing: border-box;
}

.logo {
  display: flex;
  width: 150px;
}

.menu {
  display: flex;
}

.menu ul {
  display: flex;
  /* justify-content: space-between; */
  list-style-type: none;
}

.menu li a {
  text-decoration: none;
  color: red;
  padding: 5px 20px;
}

.cart img {
  display: flex;
  width: 50%;
}

.hero-banner {
  position: relative;
  width: 100%;
  height: 400px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.33), rgba(0, 0, 0, 0.33)),
    url("../images/banner-girl.png"), url("../images/flower-bkgd.jpg");
  background-position: left, center 100px, center;
  background-repeat: repeat, no-repeat, repeat;
  background-size: cover, contain, contain;
  /* opacity: 0.9; */
}

.head1 {
  text-align: center;
  width: 80%;
  /* padding: 0px 200px 0px 200px; */
  margin-top: 50px;
  margin-bottom: 50px;
  padding-left: 150px;
}

.head1 h2 {
  font-size: 48px;
}

.head1 p {
  font-size: 20px;
  justify-content: space-between;
}

.shop-grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  box-sizing: border-box;
  /* border: solid 1px; */
  align-content: flex-start;
  position: relative;
  width: 1250;
  height: 610px;
}

/*
  background-image: url("../images/mens-category.jpg"),
    url("../images/trends-category.jpg"), url("../images/glasses-category.jpg"); /*url("../images/sale-category.jpg"),
    url("../images/bags-category.jpg"), url("../images/womens-category.jpg"); 
  background-position: left, center 100px, right;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: contain, contain, contain;
} */

/* .shop-grid img {
  background-size: cover;
  justify-content: flex-start;
  align-content: space-between;
  width: 100%;
} */

.men-category {
  display: flex;
  width: 600px;
  height: 300px;
  background-image: url("../images/mens-category.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  margin: 3px;
}

.head-men-category {
  text-align: center;
  /* width: 100%; */
  display: flex;
  width: 600px;
  height: 300px;
  color: white;
  align-items: center;
  justify-content: center;
}

.trend {
  display: flex;
  width: 300px;
  height: 300px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.13), rgba(0, 0, 0, 0.13)),
    url("../images/trends-category.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  margin: 3px;
}

.head-trend-category {
  text-align: center;
  width: 100%;
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
}

.glasses {
  display: flex;
  width: 300px;
  height: 300px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.13), rgba(0, 0, 0, 0.13)),
    url("../images/glasses-category.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  margin: 3px;
}

.head-glasses-category {
  text-align: center;
  width: 100%;
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
}

.sale {
  display: flex;
  width: 300px;
  height: 300px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.13), rgba(0, 0, 0, 0.13)),
    url("../images/sale-category.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  margin: 3px;
}

.head-sale-category {
  text-align: center;
  width: 100%;
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
}

.bags {
  display: flex;
  width: 300px;
  height: 300px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.13), rgba(0, 0, 0, 0.13)),
    url("../images/bags-category.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  margin: 3px;
}

.head-bags-category {
  text-align: center;
  width: 100%;
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
}

.women {
  display: flex;
  width: 600px;
  height: 300px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.13), rgba(0, 0, 0, 0.13)),
    url("../images/womens-category.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  margin: 3px;
}

.head-women-category {
  text-align: center;
  width: 100%;
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
}

.hero-banner p,
.hero-banner h2 {
  color: rgb(239, 242, 245);
  text-align: center;
}
.hero-banner h2 {
  font-size: 48px;
}

.MostLovesProducts {
  position: relative;
  text-align: center;
  width: 100%;
  font-size: 48px;
}

/* .figure-div {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  width: 100%;
  align-content: space-between;
  padding-bottom: 50px; */
/* overflow-x: scroll; */
/* } */

.figure-div {
  width: 100%;
  height: 600px;
}

.figure-id {
  width: 240px;
  height: auto;
}

.figure-id img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  align-content: space-between;
}

.figure-id p {
  width: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* FLALY START */

/*! Flickity v2.2.1
https://flickity.metafizzy.co
---------------------------------------------- */

.flickity-enabled {
  position: relative;
}

.flickity-enabled:focus {
  outline: none;
}

.flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 100%;
}

/* .flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%;
} */

/* draggable */

.flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

/* ---- flickity-button ---- */

.flickity-button {
  position: absolute;
  background: hsla(0, 0%, 100%, 0.75);
  border: none;
  color: #333;
}

.flickity-button:hover {
  background: white;
  cursor: pointer;
}

.flickity-button:focus {
  outline: none;
  box-shadow: 0 0 0 5px #19f;
}

.flickity-button:active {
  opacity: 0.6;
}

.flickity-button:disabled {
  opacity: 0.3;
  cursor: auto;
  /* prevent disabled button from capturing pointer up event. #716 */
  pointer-events: none;
}

.flickity-button-icon {
  fill: currentColor;
}

/* ---- previous/next buttons ---- */

.flickity-prev-next-button {
  top: 50%;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  /* vertically center */
  transform: translateY(-50%);
}

.flickity-prev-next-button.previous {
  left: 10px;
}
.flickity-prev-next-button.next {
  right: 10px;
}
/* right to left */
.flickity-rtl .flickity-prev-next-button.previous {
  left: auto;
  right: 10px;
}
.flickity-rtl .flickity-prev-next-button.next {
  right: auto;
  left: 10px;
}

.flickity-prev-next-button .flickity-button-icon {
  position: absolute;
  left: 20%;
  top: 20%;
  width: 60%;
  height: 60%;
}

/* ---- page dots ---- */
/* DDDOOOODODODOD */
.flickity-page-dots {
  position: absolute;
  width: 100%;
  bottom: -15px;
  padding: 0;
  margin-bottom: 300;
  list-style: none;
  text-align: center;
  line-height: 6;
}

.flickity-rtl .flickity-page-dots {
  direction: rtl;
}

.flickity-page-dots .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 8px;
  background: #333;
  border-radius: 50%;
  opacity: 0.25;
  cursor: pointer;
}

.flickity-page-dots .dot.is-selected {
  opacity: 1;
}

/* FLAKY END */

/* .figure-StretchKnitDress {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 235px;
  height: auto;
  flex-direction: column;
}

.figure-BlueHipsterBackpack {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 235px;
  height: auto;
  flex-direction: column;
}

.figure-deminShorts {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 235px;
  height: auto;
  flex-direction: column;
}

.figure-PinkDottedDress {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 235px;
  height: auto;
  flex-direction: column;
}

.figure-CheckedStretchDress {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 235px;
  height: auto;
  flex-direction: column;
}

.figure-CottonBlueShirt {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 235px;
  height: auto;
  flex-direction: column;
}

.figure-BlueSilkDress {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 235px;
  height: auto;
  flex-direction: column;
}

.figure-CottonYellowTShirt {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 235px;
  height: auto;
  flex-direction: column;
} */
.buttonToCart {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.83);
  border: none;
  color: white;
  /* padding: 1em 2em, 2px, 3px, 50px; */
  padding: 10px 20px;
  text-align: center;
  font-size: 16px;
  border-radius: 27px;
}

.mail {
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.13), rgba(0, 0, 0, 0.13)),
    url("../images/wave-bkgd.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 285px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: aliceblue;
}

input[type="email"] {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 400px;
  height: 20px;
  color: black;
  padding: 1em 3em;
  text-align: left;
  font-size: 12px;
  border-radius: 23px;
}

input[type="submit"] {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f44336;
  border: none;
  color: white;
  padding: 1em 3em;
  text-align: center;
  font-size: 12px;
  border-radius: 20px;

  z-index: 1;
  position: relative;
  right: -346px;
  bottom: 41px;
}

/* .mail {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} */

footer {
  background-color: black;
  width: 100%;
  height: 250px;
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
}
.contact {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  align-content: space-around;

  color: white;
  padding-left: 50px;
  /* padding-top: 50px;
  padding-bottom: 50px; */
}
.contact text {
  text-align: left;
}
.fab fa-facebook-f {
  color: white;
}
.media {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-content: space-between;
  padding-right: 100px;
}

.media ul {
  width: 120px;
  align-content: center;
  align-items: flex-start;
  justify-content: space-evenly;
}

.media li {
  display: flex;
  height: 6vh;
  color: white;
  list-style-type: none;
}
/* body {
  background: purple;
}

figure {
  width: 300px;
  height: 100px;
}

figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

@media screen and (min-widht: 600px) {
  body {
    background: green;
  }
  nav {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-widht: 1240px) {
  body {
    background: blue;
  }
}
